{% extends '/app.twig' %}

{% block content %}

    <table rules="all" class="database table table-striped table-hover tablesorter">
        <thead>
        
        <tr>
            <th class='table-icon'></th>
            <th class='table-icon'></th>
            <th class='table-icon'></th>
            <th>Name </th>
            <th>Email</th>
            <th>Date Created</th>
            <th>Date Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

        <tr>
            <td class="table-icon">
                <a href="{{ path_for('users.update') }}?id={{ user.id }}">
                    <i class="fa fa-external-link" style="color:green" value="{{ user.id }}" aria-hidden="true"></i>
                    <input type="hidden" name="view" value="{{ user.id }}">
                </a>
            </td>
             <td class="table-icon">
                <a href="{{ path_for('users.update') }}?id={{ user.id }}">
                    <i class="fa fa-pencil fa-fw"></i>
                    <input type="hidden" name="edit" value="{{ user.id }}">
                </a>
            </td>
             <td class="table-icon">
                <a href="{{ path_for('users.delete') }}?id={{ user.id }}">
                  <i class="fa fa-trash" style="color:red" value="{{ user.id }}" aria-hidden="true"></i>
                  <input type="hidden" name="edit" value="{{ user.id }}">
                </a>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at|date('Y-m-d') }}</td>
            <td>{{ user.updated_at|date('Y-m-d') }}</td>

            
        </tr>

         {% endfor%}

        </tbody>
    </table>

{% endblock %}